.chat {
  display: flex;
  flex-direction: column;
  width: 490px;
  float: left;
  background: #f2f5f8;
  border-radius: 10px;
  color: #434651;
  
}

.chat .chat-header {
  padding: 20px;
  border-bottom: 2px solid white;
}

.chat .chat-header img {
  float: left;
}

.chat .chat-about {
  float: left;
  padding-left: 10px;
  margin-top: 6px;
}

.chat .chat-with {
  font-weight: bold;
  font-size: 16px;
}

.chat .chat-num-messages {
  color: var(--gray);
}

.chat .fa-star {
  float: right;
  color: #d8dadf;
  font-size: 20px;
  margin-top: 12px;
}

.chat .chat-history {
  padding: 30px 30px 20px;
  border-bottom: 2px solid white;
  overflow-y: auto;
  height: 50vh; /* adjust as necessary */
  flex-grow: 1;
  overflow-y: auto;
}

.chat .chat-history .message-data {
  margin-bottom: 15px;
}

.chat .chat-history .message-data-time {
  color: #84888c; /* lighten($gray, 8%) */
  padding-left: 6px;
}

.chat .chat-history .message {
  color: white;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 30px;
  width: 90%;
  position: relative;
}

.chat .chat-history .message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: var(--green);
  border-width: 10px;
  margin-left: -10px;
}

.chat .chat-history .my-message {
  background: var(--green);
}

.chat .chat-history .other-message {
  background: var(--blue);
}

.chat .chat-history .other-message:after {
  border-bottom-color: var(--blue);
  left: 93%;
}

.chat .chat-message {
  padding: 30px;
}

.chat .chat-message textarea {
  width: 100%;
  border: none;
  padding: 10px 20px;
  font: 14px/22px "Lato", Arial, sans-serif;
  border-radius: 5px;
  resize: none;
}

.chat .chat-message .fa-file-o,
.chat .chat-message .fa-file-image-o {
  font-size: 16px;
  color: gray;
  cursor: pointer;
}

.chat .chat-message button {
  float: right;
  color: var(--blue);
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background: #f2f5f8;
}

.chat .chat-message button:hover {
  color: #7092bf; /* darken($blue, 7%) */
}

.online,
.offline,
.me {
  margin-right: 3px;
  font-size: 20px;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix::after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
}

.list::-webkit-scrollbar-thumb {
  background-color: #b8b8b8; /* Change this to your desired color */
}

.list::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Change this to your desired color */
}

.people-list .search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.people-list .add-room-button {
  background: none;
  border: none;
  color: white;
  font-size: 40px;
  cursor: pointer;
}

li::marker {
  content: "";
}

.cloned-people-list {
  direction: rtl;
}

.name {
  text-align: left;
}

.search-hidden {
  visibility: hidden;
}

.message-data-status {
  display: inline-block;
  width: 100%;
  color: #84888c; /* lighten($gray, 8%) */
  padding-left: 6px;
}
