@import url(https://fonts.googleapis.com/css?family=Open+Sans);

:root {
  --green: #86bb71;
  --blue: #94c2ed;
  --orange: #e38968;
  --gray: #92959e;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: #c5ddeb;

  font: 14px/20px "Open Sans", sans-serif;
  height: 100vh;
  margin: 0; /* remove default margin */
  padding: 0; /* remove default padding */
  color: white;
}

/* Navbar container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #434651;
  padding: 10px 20px;
  color: #f2f5f8;
}

/* Welcome message and Logout button */
.welcome-message {
  display: flex;
  align-items: center;
}

.welcome-message p {
  margin: 0;
  margin-right: 10px;
}

/* Logout button styles (customize as needed) */
button {
  color: var(--blue);
  background: #434651;
  border: none;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
}

button:hover {
  color: #7092bf;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #434651;
  color: #f2f5f8;
  padding: 10px 20px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar p {
  margin: 0;
  font-weight: bold;
  margin-right: 10px; /* Add some spacing between the welcome message and the logout button */
}

.navbar nav {
  display: flex;
}

.navbar nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar nav ul li {
  margin: 0 15px;
}

.navbar nav ul li a {
  text-decoration: none;
  color: #f2f5f8;
  font-weight: bold;
}

.navbar nav ul li a:hover {
  color: #7092bf; /* darken($blue, 7%) */
}

/* LogoutButton styling */
.logout-button {
  cursor: pointer;
  color: #7092bf;
  font-weight: bold;
  transition: color 0.3s ease-in-out; /* Smooth color transition on hover */
}

.logout-button:hover {
  color: #f2f5f8; /* darken($blue, 7%) */
}
